{% extends 'base.html.twig' %}

{% block title %}User's register page{% endblock %}
{% block body %}
{% block content %}
    <div class="container">
        {% block fos_user_content %}{% endblock %}

        <a href="{{ path('fos_user_registration_register') }}">Register here</a>
    </div>

{% endblock %}
{% endblock %}